#PageHeader h1 {
    color: crimson;
    margin-left: 20px;
}
#PageHeader{
    color: black;
}

#SiteNavigation{
    background-color: gold;
    margin-right: 942px;
}


#PageContent{
    float: left;
    background-color: red;
}

#Sidebar{
    float: right;
    background-color: blue;
    width: 20%;
}
#Sidebar p{
    text-align: center;
}

#PageFooter{
    clear: both;
}